*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #222;
	background-size: 400% 400%;
	height: 100vh;
}

h1{
  color: #fff;   
  font-size: 4rem;
}

body,
main {
	display: grid;
	place-items: center;
	padding: 1rem;
}

main {
	border-radius: 1.5rem;
	background-color: #555;
}



.calculator {
	display: grid;
	grid-template-areas:
		"screen screen  screen  screen"
		"ac     ac      del     divide"
		"one    two     three   multiply"
		"four   five    six     subtract"
		"seven  eight   nine    add"
		"dot    zero    equal   equal";
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5rem;

	width: 100%;
	max-width: 320px;
	height: 400px;
}

#screen {
	grid-area: screen;
	gap: 1rem;

	padding: 0.25rem 0.75rem;
	display: grid;
	margin-block-end: 0.5rem;
	border: 2px dotted #dddddd;
	border-radius: 1rem;
	overflow: hidden;
    color: #fff;
}

#screen input {
	font-size: 2rem;
	border: none;
    background: #555;
    color: #fff;
}
#screen output {
	font-size: 1.25rem;
	height: 1rem;
}

.num {
	background-color: #fff;
}
#dot {
	background-color: palevioletred ;
}
.operator {
	background: yellowgreen;;
}
.clear {
	background-color: yellow;
}
#equal {
	background: green;;
}

#all-clear {
	grid-area: ac;
}
#del {
	grid-area: del;
}

#divide {
	grid-area: divide;
}
#multiply {
	grid-area: multiply;
}
#subtract {
	grid-area: subtract;
}
#add {
	grid-area: add;
}

#equal {
	grid-area: equal;
}

#zero {
	grid-area: zero;
}
#one {
	grid-area: one;
}
#two {
	grid-area: two;
}
#three {
	grid-area: three;
}
#four {
	grid-area: four;
}
#five {
	grid-area: five;
}
#six {
	grid-area: six;
}
#seven {
	grid-area: seven;
}
#eight {
	grid-area: eight;
}
#nine {
	grid-area: nine;
}

button {
	border: none;
	border-radius: 1rem;
	font-size: 1rem;
}

input:focus {
	outline: none;
}
